@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  min-width: 1430px;
  color: #3b3b3b;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

.main-wrapper {
  min-height: 1000px;
  padding-top: 50px;
  min-width: 1340px;

  .main-box {
    width: 1040px;
    margin: 20px auto;
  }
  .el-row {
    margin-right: 0 !important;
    margin-left: 0 !important;
    // padding-right: 0 !important;
    // padding-left: 0 !important;
    
    .el-col.el-col-17 {
      padding-right: 0 !important;
      padding-left: 0 !important;
      width: 720px;
    }
    .el-col.el-col-7 {
      padding-left: 20px !important;
      padding-right: 0px !important;
      width: 320px;
    }
  }
}

// main-container global css
.app-container {
  padding: 20px;
}

// whole site badge for tag i
.badge {
  position: absolute;
  left: 5px;
  top: 5px;
  background: rgba(55, 55, 55, 0.8);
  color: #fff;
  padding: 4px 7px;
  font-style: normal;
  font-size: 12px;
  border-radius: 3px;
}
.badge-blue {
  background: rgba(16, 126, 189, 0.8);
}
.badge-orange {
  background: rgba(224, 135, 20, 0.8);
}
.badge-red {
  width: 59px;
  height: 37px;
  background-color: transparent;
  background-image: url(../assets/img/badge-red.png);
  color: #fff;
  padding: 7px 0 0 6px;
  left: -10px;
  top: -8px;
}

// 首页轮播按钮颜色重定义
.el-carousel--horizontal > .el-carousel__button ,
.el-carousel__button {
  background-color: #e08714!important;
}

/******** for index list ******/
.list-container {
  margin-bottom: 35px;

  .list-main {
    width: 100%;
    margin-bottom: 40px;

    .list-head {
      height: 38px;
      padding-bottom: 10px;
      border-bottom: 1px solid #e08714;
      margin-bottom: 20px;

      h3 {
        color: #3b3b3b;
        font-size: 24px;
        display: inline;

        span {
          color: #bfbfbf;
          font-size: 18px;
          margin-left: 20px;
        }
      }
      a {
        float: right;
        font-size: 14px;
        margin-top: 8px;
        color: #4696a3;
      }
    }
    .list-body {
      margin-bottom: 20px;
      clear: both;
      width: 100%;
      overflow: hidden;
      min-height: 145px;
      // display: flex;

      .list-item {
        margin-bottom: 20px;
        clear: both;
        width: 100%;
        display: flex;
        border-radius: 3px;

        &:hover {
          box-shadow: 1px 0px 5px 2px rgba(220, 220, 220, 0.5);
          width: 718px;

          span.time {
            margin-right: 8px !important;
          }  
        }
      }
      .list-body-img {
        position: relative;
        float: left;
        width: 220px;
        height: 145px;
        margin-right: 20px;

        img {
          width: 220px;
          height: 145px;
          border-radius: 3px 0 0 3px;
        }
      }
      .el-col-8 {
        padding-right: 0 !important;
      }
      .list-body-text {
        float: left;
        width: 100%;
        height: 145px;
        position: relative;
        padding: 10px 10px 10px 0;

        h3 {
          font-size: 1.4em;
          margin: 0 0 10px;
          height: 1.4em;
          line-height: 1.5;
          overflow: hidden;
        }
        p {
          color: #787878;
          line-height: 1.5;
          height: 42px;
          font-size: 14px;
          word-break: break-all;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3;
          overflow: hidden;
        }
        .list-text-cate {
          position: absolute;
          bottom: 10px;
          width: 100%;
          height: 20px;
          line-height: 20px;
          font-size: 14px;

          span.tip {
            color: #e08714;
          }
          span.time {
            float: right;
            color: #a7a7a7;
            margin-right: 10px;

            i {
              margin-right: 5px;
            }
          }
        }
      }

      .img-list {
        display: inline-block;
        width: 229px;
        // height: 237px;
        height: 220px;
        background: #edf1f4;
        // margin-right: 10px;
        margin-right: 16px;
        overflow: hidden;

        &:nth-last-child(1) {
          margin-right: 0;
        }

        .img-list-main {
          position: relative;
          width: 100%;
          height: 145px;

          img {
            width: 100%;
            height: 100%;
            border-radius: 3px 3px 0 0;
          }
          span {
            display: block;
            width: 100%;
            padding: 5px 12px;
            color: #fff;
            background: rgba($color: #000, $alpha: 0.6);
            position: absolute;
            bottom: 0;
            left: 0;
            font-size: 1em;
            line-height: 1.4;
          }
        }
        p {
          text-align: left;
          margin: 0 auto;
          padding: 11px 10px;
          color: #787878;
          font-size: 0.8em;
          line-height: 1.5;
          background: #edf1f4;
          height: 68px;
          overflow: hidden;
        }
      }
      .img-list.nonebg {
        background: none;
        text-align: center;
        height: 180px;

        p {
          background: none;
          text-align: center;
        }
      }
      .img-list.slide {
        height: 380px;
        width: 100%;

        .img-list-main {
          position: relative;
          width: 100%;
          height: 100%;

          span {
            padding: 10px;
            font-size: 1.3em;
          }
        }
      }
      .culture-list {
        display: block;
        width: 100%;
        margin-right: 12px;

        &:nth-last-child(1) {
          margin-right: 0;
        }
        img {
          width: 100%;
          height: 145px;
        }
        p {
          width: 100%;
          height: 1em;
          line-height: 1em;
          overflow: hidden;
          text-align: center;
          margin: 5px 0;
        }
      }
    }
  }
}

/************ for right side ********/ 
.side-section {
  width: 300px;

  .side-main {
    width: 100%;
    margin-bottom: 40px;

    .side-head {
      width: 100%;
      height: 38px;
      line-height: 38px;
      margin-bottom: 10px;
      // border-bottom: 1px solid #e08714;

      h3 {
        color: #3b3b3b;
        font-size: 20px;
        margin: 0;

        svg {
          width: 16px;
          height: 18px;
          margin-right: 5px;
        }
      }
      a {
        float: right;
        font-size: 14px;
        font-weight: normal;
        color: #4696a3;
      }
    }
    .side-body {
      width: 100%;

      .side-img-box {
        width: 100%;
        background: #edf1f4;
        clear: both;
        overflow: hidden;
        margin-bottom: 20px;
        position: relative;

        .box-img {
          width: 100%;
          height: 169px;
          overflow: hidden;
          
          img {
            width: 100%;
            border-radius: 3px 3px 0 0;
          }
        }
        h3 {
          margin: 10px 0;
          padding: 0 10px;
          color: #262626;
          font-size: 16px;
        }
        p {
          color: #4696a3;
          font-size: 12px;
          font-weight: bold;
          padding: 0 10px;
        }
      }
      .slist-box {
        width: 100%;
        margin-bottom: 10px;
        clear: both;
        overflow: hidden;

        .slist-box-img {
          float: left;
          width: 105px;
          height: 70px;
          margin-right: 10px;

          img {
            width: 105px;
            height: 70px;
            border-radius: 3px 0 0 3px;
          }
        }
        p {
          font-size: 13px;
          line-height: 1.4;
          height: 54px;
          margin: 0;
        }
        span {
          color: #a7a7a7;
          font-size: 12px;
        }
      }
    }
    .el-timeline {
      padding: 0;
    }
    .el-timeline-item__tail {
      border-left: 2px solid #e08714;
      opacity: 0.2;
    }
    .el-timeline-item__node {
      background-color: transparent;
      border: 3px solid #e08714;
    }
  }
}

.top-section {
  width: 100%;
  height: 300px;
  margin-bottom: 30px;

  .rcm-bbs {
    position: relative;
    width: 100%;
    height: 160px;
    margin: 0 20px 10px 0;

    img {
      width: 100%;
      border-radius: 3px;
    }
  }
  .rcm-section {
    clear: both;
    overflow: hidden;

    a {
      display: block;
      width: 145px;
      height: 60px;
      background: #6babb5;
      color: #fff;
      float: left;
      line-height: 60px;
      text-align: center;
      font-size: 18px;
      margin: 0 10px 10px 0;
      border-radius: 3px;
    }
  }
  .rcm-section a:nth-child(2n) {
    margin: 0 0 10px 0;
  }
}
/****************** pagenation ***************/
.el-pagination.is-background .btn-next, 
.el-pagination.is-background .btn-prev, 
.el-pagination.is-background .el-pager li {
  color: #e08714;
}
.el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color: #e08714;
}

/****************** CommonNav ***************/
.el-menu--collapse .el-menu .el-submenu, 
.el-menu--popup {
    min-width: 100px!important;
}
.el-menu--horizontal>.el-submenu,
.el-menu--horizontal>.el-submenu .el-submenu__title {
  height: 50px;
  line-height: 50px;
}
.el-menu--horizontal .el-menu .el-menu-item:hover, 
.el-menu--horizontal .el-menu .el-submenu__title {
  background-color: #e08714!important;
}
.el-menu--horizontal>.el-submenu.is-active .el-submenu__title,
.el-menu-item.is-active
  {
    color: #fff !important;
    background-color: #e08714 !important;
    border-bottom: none;
}
.el-menu--horizontal>.el-submenu .el-submenu__icon-arrow {
  color: #fff;
}
.el-menu--horizontal .el-menu--popup-bottom-start {
  margin-top: 0;
}
.el-menu--horizontal .el-menu .el-menu-item, 
.el-menu--horizontal .el-menu .el-submenu__title {
  width: 116px;
}
.zwsj {
  font-size: 24px;
  text-align: center;
  color: #ccc;
}
/************* article **********/
.article-container {
  margin-bottom: 35px;
  padding: 0 20px 0 10px;

  .article-main {
    width: 100%;
    margin-bottom: 40px;

    .article-head {
      width: 100%;
      font-size: 14px;
      margin-bottom: 40px;

      h1 {
        font-size: 30px;
        margin: 0 0 1em;
        line-height: 1.5;
        text-align: justify;
      }
      a {
        color: #4696a3;
        margin-right: 10px;
      }
    }
    .article-body {
      width: 100%;
      min-height: 200px;
      margin-bottom: 40px;
      text-align: center;

      p {
        font-size: 16px;
        line-height: 2;
        margin-bottom: 26px;
        vertical-align: baseline;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        word-break: break-word;
        box-sizing: border-box;
        letter-spacing: 0;
        text-align: justify;
      }
      img {
        display: block;
        border-style: none;
        max-width: 690px;
        margin: 30px auto;
        border-radius: 5px;
      }
    }
    .article-foot {
      width: 100%;

      .thumbup {
        width: 100%;
        height: 130px;
        text-align: center;
        font-size: 12px;
        .likebox {
          width: 73px;
          height: 73px;
          margin: 0 auto 20px;
          // background: url(../../../assets/img/like-gray.png);
          background: url(~@/assets/img/like-gray.png);
        }
        .likebox.is-active {
          background: url(~@/assets/img/like-red.png);
        }
        p {
          margin: 10px 0;
        }
      }
    }   
  }
}
.new-comment-box {
  width: 100%;
  margin-bottom: 35px;

  .comment-head {
    width: 100%;
    height: 38px;
    line-height: 38px;
    margin-bottom: 10px;

    h3 {
      color: #3b3b3b;
      font-size: 20px;
      margin: 0;
    
      svg {
        width: 16px;
        height: 18px;
        margin-right: 10px;
      }
    }
  }
  .conment-body {
    border-radius: 3px;
    border: 2px solid #f5f7f9;

    textarea {
      width: 100%;
      resize: none;
      border: none;
      padding: 5px;
      font-size: 14px;

      &:focus {
        border: none;
        outline: none; 
      }
    }
    .text-btn {
      background: #f5f7f9;
      width: 100%;
      height: 46px;
      line-height: 46px;
      padding: 7px 0;
      clear: both;

      button {
        float: right;
        margin: 0 10px;
        width: 92px;
        height: 32px;
        line-height: 32px;
        font-size: 14px;
        background: #e08714;
        color: #fff;
        border: none;
        border-radius: 3px;
        outline: none;
      }
      span {
        float: right;
        color: #a8a8a8;
        height: 32px;
        line-height: 32px;
        font-size: 14px;
      }
    }
  }
  p {
    font-size: 14px;
    color: #a8a8a8;
  }
} 
.comment-box {
  width: 100%;
  margin-bottom: 35px;

  .comment-head {
    width: 100%;
    height: 38px;
    line-height: 38px;
    margin-bottom: 10px;

    h3 {
      color: #3b3b3b;
      font-size: 20px;
      margin: 0;
    
      svg {
        width: 16px;
        height: 18px;
        margin-right: 10px;
      }
    }
  }
  .comments, .sub_comments {
    font-size: 14px;

    dt {
      display: flex;
      color: #3b3b3b;

      img {
        width: 28px;
        height: 28px;
        margin-right: 10px;
      }
      span {
        margin-right: 10px;
       
        &:nth-last-child(1) {
          color: #a7a7a7;
        }
      }
      .reply {
        margin-left: auto;
        font-size: 12px;

        span {
          margin: 0 5px 0 2px;
        }
        a {
          color: #4285f4;
        }
      }
    }
    dd {
      word-break: break-all;
    }
  }
  .sub_comments {
    margin-left: 40px;
  }
}  
.el-backtop {
  left: 50%!important;
  bottom: 320px!important;
  margin-left: 542px!important;
  width: 50px;
  height: 100px;
  box-shadow: none;
  border-radius: 3px;

  &:hover {
    box-shadow: none;
    background: #fff; 
  }
}
.backtobox {
  width: 50px;
  height: 100px;

  div {
    width: 50px;
    height: 50px;
    text-align: center;
    // border: 1px solid #e08714;
    border: 1px solid #f7e0c1;
    display: flex;
    align-items: center;
    /*实现水平居中*/
    justify-content: center;
    text-align: center;
    border-radius: 3px 3px 0 0;

    &:nth-last-child(1) {
      border-top: none;
      border-radius: 0 0 3px 3px;
    }
  }
}
.el-popover {
  min-width: auto !important;
  width: auto !important;
}

